USE [master]
GO
/****** Object:  Database [ControleDeCarga]    Script Date: 03/06/2014 20:39:31 ******/
CREATE DATABASE [ControleDeCarga] ON  PRIMARY 
( NAME = N'ControleDeCarga', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ControleDeCarga.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ControleDeCarga_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ControleDeCarga_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControleDeCarga].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControleDeCarga]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Armador]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Armador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[PessoaContato] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.Armador] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[User_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Carga]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carga](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImportadorId] [int] NOT NULL,
	[ExportadorId] [int] NOT NULL,
	[DTA] [nvarchar](max) NULL,
	[DI_DSI] [nvarchar](max) NULL,
	[MercadoriaId] [int] NOT NULL,
	[EspecieId] [int] NOT NULL,
	[Quantidade] [int] NULL,
	[PortoSecoId] [int] NULL,
	[LocalDeEntregaId] [int] NOT NULL,
	[TipoContainer] [nvarchar](max) NULL,
	[Container] [nvarchar](max) NULL,
	[LocalDeDevolucaoId] [int] NULL,
	[NavioId] [int] NULL,
	[ArmadorId] [int] NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
	[StatusCargaId] [int] NULL,
	[FilialId] [int] NULL,
 CONSTRAINT [PK_dbo.Carga] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Despachante]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Despachante](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.Despachante] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Especie]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Descricao] [nvarchar](max) NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.Especie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Evento]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[ProximoStatusId] [int] NOT NULL,
	[EnviarEmail] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Evento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exportador]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exportador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.Exportador] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Filial]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Cidade] [nvarchar](max) NULL,
	[UfId] [int] NOT NULL,
	[Endereco] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
	[Radio] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Contato] [nvarchar](max) NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.Filial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HistoricoCarga]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoCarga](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventoId] [int] NULL,
	[Data] [datetime] NULL,
	[MotoristaId] [int] NULL,
	[VeiculoId] [int] NULL,
	[Observacoes] [nvarchar](max) NULL,
	[CargaId] [int] NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.HistoricoCarga] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Importador]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Importador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[CNPJ] [nvarchar](max) NULL,
	[Endereco] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.Importador] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LocalDeDevolucao]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDeDevolucao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.LocalDeDevolucao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LocalDeEntrega]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDeEntrega](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cidade] [nvarchar](max) NULL,
	[UfId] [int] NOT NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.LocalDeEntrega] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mercadoria]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mercadoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Descricao] [nvarchar](max) NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.Mercadoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Motorista]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motorista](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.Motorista] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Navio]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Navio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Descricao] [nvarchar](max) NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.Navio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parceiro]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parceiro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.Parceiro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PortoSeco]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortoSeco](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[UfId] [int] NOT NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.PortoSeco] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StatusCarga]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusCarga](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.StatusCarga] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoVeiculo]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoVeiculo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[CriadoPor] [nvarchar](max) NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoPor] [nvarchar](max) NULL,
	[ModificadoEm] [datetime] NULL,
 CONSTRAINT [PK_dbo.TipoVeiculoes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UF]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UF](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sigla] [nvarchar](max) NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Veiculo]    Script Date: 03/06/2014 20:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veiculo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nvarchar](max) NULL,
	[TipoVeiculoId] [int] NULL,
	[CriadoEm] [datetime] NULL,
	[ModificadoEm] [datetime] NULL,
	[CriadoPorUserId] [nvarchar](128) NULL,
	[ModificadoPorUserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Veiculoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Armador] ON 

INSERT [dbo].[Armador] ([Id], [Nome], [PessoaContato], [Telefone], [Email], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (1, N'MSC', N'Morvan', N'+55(31) 3263-7277', N'morvan@ltcomex.com.br', N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A3280143B16C AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A3280143B16C AS DateTime))
SET IDENTITY_INSERT [dbo].[Armador] OFF
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Discriminator]) VALUES (N'106f044c-6e82-454f-b753-d4306a869b52', N'Peterson', N'AAl3RxCjzhobnBtUTypHMl1Zy0hGz4MnQUSA2/0HZVC0Vwl0Vn8cyRFIq8ANMFQ2Jg==', N'649cac3a-21d6-4aff-bb9f-8456dd680f21', N'ApplicationUser')
SET IDENTITY_INSERT [dbo].[Carga] ON 

INSERT [dbo].[Carga] ([Id], [ImportadorId], [ExportadorId], [DTA], [DI_DSI], [MercadoriaId], [EspecieId], [Quantidade], [PortoSecoId], [LocalDeEntregaId], [TipoContainer], [Container], [LocalDeDevolucaoId], [NavioId], [ArmadorId], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm], [StatusCargaId], [FilialId]) VALUES (1, 6, 5, N'08/0495037-7', N'08/1718287-4', 2, 2, 4, 2, 3, N'40', N'GLDU 067163-2', 2, 1, 1, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F013BA0C8 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A33D00ED4886 AS DateTime), 1, NULL)
INSERT [dbo].[Carga] ([Id], [ImportadorId], [ExportadorId], [DTA], [DI_DSI], [MercadoriaId], [EspecieId], [Quantidade], [PortoSecoId], [LocalDeEntregaId], [TipoContainer], [Container], [LocalDeDevolucaoId], [NavioId], [ArmadorId], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm], [StatusCargaId], [FilialId]) VALUES (2, 6, 6, N'08/0594297-1', N'08/2004086-4', 2, 2, 2, 2, 3, N'40 DC', N'MSCU 479214-0', 1, 2, 1, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A3300182CCB8 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A33901336833 AS DateTime), 3, NULL)
INSERT [dbo].[Carga] ([Id], [ImportadorId], [ExportadorId], [DTA], [DI_DSI], [MercadoriaId], [EspecieId], [Quantidade], [PortoSecoId], [LocalDeEntregaId], [TipoContainer], [Container], [LocalDeDevolucaoId], [NavioId], [ArmadorId], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm], [StatusCargaId], [FilialId]) VALUES (3, 8, 10, NULL, N'08/1891820-3', 4, 5, 91, NULL, 3, NULL, NULL, NULL, NULL, NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A33601873DD0 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A338017C544B AS DateTime), 2, NULL)
SET IDENTITY_INSERT [dbo].[Carga] OFF
SET IDENTITY_INSERT [dbo].[Despachante] ON 

INSERT [dbo].[Despachante] ([Id], [Nome], [Telefone], [Email], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (1, N'Fulano', N'9928100', N'Fulano@despacho.com.br', N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0133320F AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0133320F AS DateTime))
SET IDENTITY_INSERT [dbo].[Despachante] OFF
SET IDENTITY_INSERT [dbo].[Especie] ON 

INSERT [dbo].[Especie] ([Id], [Nome], [Descricao], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (1, N'Bobina', N'Bobina', N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0132D6BA AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0132D6BA AS DateTime))
INSERT [dbo].[Especie] ([Id], [Nome], [Descricao], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (2, N'Container', NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0132E108 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0132E108 AS DateTime))
INSERT [dbo].[Especie] ([Id], [Nome], [Descricao], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (3, N'Rolo', NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0132E8D5 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0132E8D5 AS DateTime))
SET IDENTITY_INSERT [dbo].[Especie] OFF
SET IDENTITY_INSERT [dbo].[Evento] ON 

INSERT [dbo].[Evento] ([Id], [Nome], [ProximoStatusId], [EnviarEmail]) VALUES (10, N'Coleta', 1, 1)
INSERT [dbo].[Evento] ([Id], [Nome], [ProximoStatusId], [EnviarEmail]) VALUES (11, N'Chegada no Porto Seco', 2, 1)
INSERT [dbo].[Evento] ([Id], [Nome], [ProximoStatusId], [EnviarEmail]) VALUES (13, N'Liberação no Porto Seco', 3, 1)
SET IDENTITY_INSERT [dbo].[Evento] OFF
SET IDENTITY_INSERT [dbo].[Exportador] ON 

INSERT [dbo].[Exportador] ([Id], [Nome], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (5, N'Dominion', N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0114FADF AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0114FADF AS DateTime))
INSERT [dbo].[Exportador] ([Id], [Nome], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (6, N'Polimeri', N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01150512 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01150512 AS DateTime))
INSERT [dbo].[Exportador] ([Id], [Nome], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (7, N'GP Celulose', N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01150BD2 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01150BD2 AS DateTime))
SET IDENTITY_INSERT [dbo].[Exportador] OFF
SET IDENTITY_INSERT [dbo].[Filial] ON 

INSERT [dbo].[Filial] ([Id], [Nome], [Cidade], [UfId], [Endereco], [Telefone], [Radio], [Email], [Contato], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (1, N'Rio', N'Rio de Janeiro', 3, N'Rua Carlos Seidel, 291, Sala 102, Caju', N'3484-3052', NULL, NULL, NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A33D01268B20 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A33E000D69ED AS DateTime))
INSERT [dbo].[Filial] ([Id], [Nome], [Cidade], [UfId], [Endereco], [Telefone], [Radio], [Email], [Contato], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (2, N'Fast Log', N'Vitória', 2, NULL, N'(27) 33261893', NULL, NULL, N'Gilmara', N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A33D0127E37D AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A33D0127E37D AS DateTime))
SET IDENTITY_INSERT [dbo].[Filial] OFF
SET IDENTITY_INSERT [dbo].[HistoricoCarga] ON 

INSERT [dbo].[HistoricoCarga] ([Id], [EventoId], [Data], [MotoristaId], [VeiculoId], [Observacoes], [CargaId], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (1, 10, CAST(0x0000A32F00000000 AS DateTime), 1, 1, N'teste 1', NULL, NULL, NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A3390144A53B AS DateTime))
INSERT [dbo].[HistoricoCarga] ([Id], [EventoId], [Data], [MotoristaId], [VeiculoId], [Observacoes], [CargaId], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (3, 10, CAST(0x0000A33000C5C100 AS DateTime), 2, 2, N'segunda carga', 2, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A3300182EE03 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A3300182EE03 AS DateTime))
INSERT [dbo].[HistoricoCarga] ([Id], [EventoId], [Data], [MotoristaId], [VeiculoId], [Observacoes], [CargaId], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (4, 11, CAST(0x0000A331015A11C0 AS DateTime), 2, 2, N'teste 3', 2, NULL, CAST(0x0000A33001859196 AS DateTime), NULL, CAST(0x0000A33001859196 AS DateTime))
SET IDENTITY_INSERT [dbo].[HistoricoCarga] OFF
SET IDENTITY_INSERT [dbo].[Importador] ON 

INSERT [dbo].[Importador] ([Id], [Nome], [CNPJ], [Endereco], [Telefone], [Email], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (5, N'Lev', N'11', NULL, NULL, NULL, NULL, NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F012A792D AS DateTime))
INSERT [dbo].[Importador] ([Id], [Nome], [CNPJ], [Endereco], [Telefone], [Email], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (6, N'Cedro Stº. Antônio', N'1', NULL, NULL, NULL, NULL, NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F012B4078 AS DateTime))
INSERT [dbo].[Importador] ([Id], [Nome], [CNPJ], [Endereco], [Telefone], [Email], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (7, N'Clin Off', NULL, N'Av: Ramiro Patricio, 30, Oliveira, MG', N'(37) 3331-8008 ', N'vendas@clinoff.com.br', N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01313340 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01329929 AS DateTime))
SET IDENTITY_INSERT [dbo].[Importador] OFF
SET IDENTITY_INSERT [dbo].[LocalDeDevolucao] ON 

INSERT [dbo].[LocalDeDevolucao] ([Id], [Nome], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (1, N'TTC Cajú ', NULL, NULL, NULL, NULL)
INSERT [dbo].[LocalDeDevolucao] ([Id], [Nome], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (2, N'Interportos', N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01339FFF AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01339FFF AS DateTime))
SET IDENTITY_INSERT [dbo].[LocalDeDevolucao] OFF
SET IDENTITY_INSERT [dbo].[LocalDeEntrega] ON 

INSERT [dbo].[LocalDeEntrega] ([Id], [Cidade], [UfId], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (1, N'Belo Horizonte ', 1, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A3290173E320 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01310316 AS DateTime))
INSERT [dbo].[LocalDeEntrega] ([Id], [Cidade], [UfId], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (3, N'Pará de Minas', 1, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32E012BCB44 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32E012D5641 AS DateTime))
INSERT [dbo].[LocalDeEntrega] ([Id], [Cidade], [UfId], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (4, N'São João Del Rey', 1, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A336018761A1 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A336018761A1 AS DateTime))
SET IDENTITY_INSERT [dbo].[LocalDeEntrega] OFF
SET IDENTITY_INSERT [dbo].[Mercadoria] ON 

INSERT [dbo].[Mercadoria] ([Id], [Nome], [Descricao], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (1, N'Borracha', N'teste', N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0132FD74 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A33C00E30519 AS DateTime))
INSERT [dbo].[Mercadoria] ([Id], [Nome], [Descricao], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (2, N'Pasta Química', NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01330813 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01330813 AS DateTime))
INSERT [dbo].[Mercadoria] ([Id], [Nome], [Descricao], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (3, N'Fios', NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01330BE7 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01330BE7 AS DateTime))
SET IDENTITY_INSERT [dbo].[Mercadoria] OFF
SET IDENTITY_INSERT [dbo].[Motorista] ON 

INSERT [dbo].[Motorista] ([Id], [Nome], [Telefone], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (1, N'Rogério', NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01334AC3 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01334AC3 AS DateTime))
INSERT [dbo].[Motorista] ([Id], [Nome], [Telefone], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (2, N'Leonardo', NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F013351DC AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F013351DC AS DateTime))
INSERT [dbo].[Motorista] ([Id], [Nome], [Telefone], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (3, N'Antônio João', NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0133609F AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0133609F AS DateTime))
SET IDENTITY_INSERT [dbo].[Motorista] OFF
SET IDENTITY_INSERT [dbo].[Navio] ON 

INSERT [dbo].[Navio] ([Id], [Nome], [Descricao], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (1, N'Cap Norte', NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0134463E AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0134463E AS DateTime))
INSERT [dbo].[Navio] ([Id], [Nome], [Descricao], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (2, N'CSCL Jakarta', NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01344E6A AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F01344E6A AS DateTime))
INSERT [dbo].[Navio] ([Id], [Nome], [Descricao], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (3, N'CMA CGM Copernic', NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0134568A AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F0134568A AS DateTime))
SET IDENTITY_INSERT [dbo].[Navio] OFF
SET IDENTITY_INSERT [dbo].[Parceiro] ON 

INSERT [dbo].[Parceiro] ([Id], [Nome], [Telefone], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (1, N'Parceiro Rio', NULL, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F013378C9 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32F013378C9 AS DateTime))
SET IDENTITY_INSERT [dbo].[Parceiro] OFF
SET IDENTITY_INSERT [dbo].[PortoSeco] ON 

INSERT [dbo].[PortoSeco] ([Id], [Nome], [UfId], [CriadoPorUserId], [CriadoEm], [ModificadoPorUserId], [ModificadoEm]) VALUES (2, N'Betim', 1, N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32E01345694 AS DateTime), N'106f044c-6e82-454f-b753-d4306a869b52', CAST(0x0000A32E01345694 AS DateTime))
SET IDENTITY_INSERT [dbo].[PortoSeco] OFF
SET IDENTITY_INSERT [dbo].[StatusCarga] ON 

INSERT [dbo].[StatusCarga] ([Id], [Status]) VALUES (1, N'Coletado')
INSERT [dbo].[StatusCarga] ([Id], [Status]) VALUES (2, N'Entregue no Porto Seco')
INSERT [dbo].[StatusCarga] ([Id], [Status]) VALUES (3, N'Liberado no Porto Seco')
SET IDENTITY_INSERT [dbo].[StatusCarga] OFF
SET IDENTITY_INSERT [dbo].[TipoVeiculo] ON 

INSERT [dbo].[TipoVeiculo] ([id], [Nome], [CriadoPor], [CriadoEm], [ModificadoPor], [ModificadoEm]) VALUES (1, N'Carreta', NULL, NULL, NULL, NULL)
INSERT [dbo].[TipoVeiculo] ([id], [Nome], [CriadoPor], [CriadoEm], [ModificadoPor], [ModificadoEm]) VALUES (2, N'Truck', NULL, NULL, NULL, NULL)
INSERT [dbo].[TipoVeiculo] ([id], [Nome], [CriadoPor], [CriadoEm], [ModificadoPor], [ModificadoEm]) VALUES (3, N'Bug', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TipoVeiculo] OFF
SET IDENTITY_INSERT [dbo].[UF] ON 

INSERT [dbo].[UF] ([Id], [Sigla], [Nome]) VALUES (1, N'MG', N'Minas Gerais')
INSERT [dbo].[UF] ([Id], [Sigla], [Nome]) VALUES (2, N'SP', N'São Paulo')
INSERT [dbo].[UF] ([Id], [Sigla], [Nome]) VALUES (3, N'RJ', N'Rio de Janeiro')
SET IDENTITY_INSERT [dbo].[UF] OFF
SET IDENTITY_INSERT [dbo].[Veiculo] ON 

INSERT [dbo].[Veiculo] ([Id], [Placa], [TipoVeiculoId], [CriadoEm], [ModificadoEm], [CriadoPorUserId], [ModificadoPorUserId]) VALUES (1, N'HIR-5695', 1, CAST(0x0000A32800000000 AS DateTime), CAST(0x0000A32800000000 AS DateTime), NULL, NULL)
INSERT [dbo].[Veiculo] ([Id], [Placa], [TipoVeiculoId], [CriadoEm], [ModificadoEm], [CriadoPorUserId], [ModificadoPorUserId]) VALUES (2, N'GNM-7238', 3, CAST(0x0000A328013C6652 AS DateTime), CAST(0x0000A328013C6652 AS DateTime), NULL, NULL)
INSERT [dbo].[Veiculo] ([Id], [Placa], [TipoVeiculoId], [CriadoEm], [ModificadoEm], [CriadoPorUserId], [ModificadoPorUserId]) VALUES (4, N'HQC-3003', 2, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Veiculo] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Armador]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Armador]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Id]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[AspNetUserClaims]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ArmadorId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ArmadorId] ON [dbo].[Carga]
(
	[ArmadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Carga]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EspecieId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_EspecieId] ON [dbo].[Carga]
(
	[EspecieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExportadorId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ExportadorId] ON [dbo].[Carga]
(
	[ExportadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilialId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_FilialId] ON [dbo].[Carga]
(
	[FilialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImportadorId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ImportadorId] ON [dbo].[Carga]
(
	[ImportadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalDeDevolucaoId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_LocalDeDevolucaoId] ON [dbo].[Carga]
(
	[LocalDeDevolucaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalDeEntregaId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_LocalDeEntregaId] ON [dbo].[Carga]
(
	[LocalDeEntregaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MercadoriaId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_MercadoriaId] ON [dbo].[Carga]
(
	[MercadoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Carga]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NavioId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_NavioId] ON [dbo].[Carga]
(
	[NavioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PortoSecoId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_PortoSecoId] ON [dbo].[Carga]
(
	[PortoSecoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusCarga_Id]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_StatusCarga_Id] ON [dbo].[Carga]
(
	[StatusCargaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Despachante]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Despachante]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Especie]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Especie]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProximoStatusId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ProximoStatusId] ON [dbo].[Evento]
(
	[ProximoStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Exportador]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Exportador]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Filial]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Filial]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UfId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_UfId] ON [dbo].[Filial]
(
	[UfId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CargaId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CargaId] ON [dbo].[HistoricoCarga]
(
	[CargaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[HistoricoCarga]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventoId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_EventoId] ON [dbo].[HistoricoCarga]
(
	[EventoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[HistoricoCarga]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MotoristaId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_MotoristaId] ON [dbo].[HistoricoCarga]
(
	[MotoristaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VeiculoId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_VeiculoId] ON [dbo].[HistoricoCarga]
(
	[VeiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Importador]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Importador]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[LocalDeDevolucao]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[LocalDeDevolucao]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[LocalDeEntrega]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[LocalDeEntrega]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UfId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_UfId] ON [dbo].[LocalDeEntrega]
(
	[UfId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Mercadoria]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Mercadoria]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Motorista]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Motorista]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Navio]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Navio]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Parceiro]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Parceiro]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[PortoSeco]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[PortoSeco]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UfId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_UfId] ON [dbo].[PortoSeco]
(
	[UfId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CriadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_CriadoPorUserId] ON [dbo].[Veiculo]
(
	[CriadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModificadoPorUserId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ModificadoPorUserId] ON [dbo].[Veiculo]
(
	[ModificadoPorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipoVeiculoId]    Script Date: 03/06/2014 20:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_TipoVeiculoId] ON [dbo].[Veiculo]
(
	[TipoVeiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Armador]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Armador_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Armador] CHECK CONSTRAINT [FK_dbo.Armador_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Armador]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Armador_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Armador] CHECK CONSTRAINT [FK_dbo.Armador_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.Armador_ArmadorId] FOREIGN KEY([ArmadorId])
REFERENCES [dbo].[Armador] ([Id])
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.Armador_ArmadorId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.Especie_EspecieId] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especie] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.Especie_EspecieId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.Exportador_ExportadorId] FOREIGN KEY([ExportadorId])
REFERENCES [dbo].[Exportador] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.Exportador_ExportadorId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.Filial_FilialId] FOREIGN KEY([FilialId])
REFERENCES [dbo].[Filial] ([Id])
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.Filial_FilialId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.Importador_ImportadorId] FOREIGN KEY([ImportadorId])
REFERENCES [dbo].[Importador] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.Importador_ImportadorId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.LocalDeDevolucao_LocalDeDevolucaoId] FOREIGN KEY([LocalDeDevolucaoId])
REFERENCES [dbo].[LocalDeDevolucao] ([Id])
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.LocalDeDevolucao_LocalDeDevolucaoId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.LocalDeEntrega_LocalDeEntregaId] FOREIGN KEY([LocalDeEntregaId])
REFERENCES [dbo].[LocalDeEntrega] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.LocalDeEntrega_LocalDeEntregaId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.Mercadoria_MercadoriaId] FOREIGN KEY([MercadoriaId])
REFERENCES [dbo].[Mercadoria] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.Mercadoria_MercadoriaId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.Navio_NavioId] FOREIGN KEY([NavioId])
REFERENCES [dbo].[Navio] ([Id])
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.Navio_NavioId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.PortoSeco_PortoSecoId] FOREIGN KEY([PortoSecoId])
REFERENCES [dbo].[PortoSeco] ([Id])
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.PortoSeco_PortoSecoId]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carga_dbo.StatusCarga_StatusCarga_Id] FOREIGN KEY([StatusCargaId])
REFERENCES [dbo].[StatusCarga] ([Id])
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [FK_dbo.Carga_dbo.StatusCarga_StatusCarga_Id]
GO
ALTER TABLE [dbo].[Despachante]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Despachante_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Despachante] CHECK CONSTRAINT [FK_dbo.Despachante_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Despachante]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Despachante_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Despachante] CHECK CONSTRAINT [FK_dbo.Despachante_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[Especie]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Especie_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Especie] CHECK CONSTRAINT [FK_dbo.Especie_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Especie]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Especie_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Especie] CHECK CONSTRAINT [FK_dbo.Especie_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Evento_dbo.StatusCarga_ProximoStatusId] FOREIGN KEY([ProximoStatusId])
REFERENCES [dbo].[StatusCarga] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_dbo.Evento_dbo.StatusCarga_ProximoStatusId]
GO
ALTER TABLE [dbo].[Exportador]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exportador_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Exportador] CHECK CONSTRAINT [FK_dbo.Exportador_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Exportador]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exportador_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Exportador] CHECK CONSTRAINT [FK_dbo.Exportador_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[Filial]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Filial_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Filial] CHECK CONSTRAINT [FK_dbo.Filial_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Filial]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Filial_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Filial] CHECK CONSTRAINT [FK_dbo.Filial_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[Filial]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Filial_dbo.UF_UfId] FOREIGN KEY([UfId])
REFERENCES [dbo].[UF] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Filial] CHECK CONSTRAINT [FK_dbo.Filial_dbo.UF_UfId]
GO
ALTER TABLE [dbo].[HistoricoCarga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoricoCarga_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[HistoricoCarga] CHECK CONSTRAINT [FK_dbo.HistoricoCarga_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[HistoricoCarga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoricoCarga_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[HistoricoCarga] CHECK CONSTRAINT [FK_dbo.HistoricoCarga_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[HistoricoCarga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoricoCarga_dbo.Carga_CargaId] FOREIGN KEY([CargaId])
REFERENCES [dbo].[Carga] ([Id])
GO
ALTER TABLE [dbo].[HistoricoCarga] CHECK CONSTRAINT [FK_dbo.HistoricoCarga_dbo.Carga_CargaId]
GO
ALTER TABLE [dbo].[HistoricoCarga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoricoCarga_dbo.Evento_EventoId] FOREIGN KEY([EventoId])
REFERENCES [dbo].[Evento] ([Id])
GO
ALTER TABLE [dbo].[HistoricoCarga] CHECK CONSTRAINT [FK_dbo.HistoricoCarga_dbo.Evento_EventoId]
GO
ALTER TABLE [dbo].[HistoricoCarga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoricoCarga_dbo.Motorista_MotoristaId] FOREIGN KEY([MotoristaId])
REFERENCES [dbo].[Motorista] ([Id])
GO
ALTER TABLE [dbo].[HistoricoCarga] CHECK CONSTRAINT [FK_dbo.HistoricoCarga_dbo.Motorista_MotoristaId]
GO
ALTER TABLE [dbo].[HistoricoCarga]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoricoCarga_dbo.Veiculo_VeiculoId] FOREIGN KEY([VeiculoId])
REFERENCES [dbo].[Veiculo] ([Id])
GO
ALTER TABLE [dbo].[HistoricoCarga] CHECK CONSTRAINT [FK_dbo.HistoricoCarga_dbo.Veiculo_VeiculoId]
GO
ALTER TABLE [dbo].[Importador]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Importador_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Importador] CHECK CONSTRAINT [FK_dbo.Importador_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Importador]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Importador_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Importador] CHECK CONSTRAINT [FK_dbo.Importador_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[LocalDeDevolucao]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LocalDeDevolucao_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LocalDeDevolucao] CHECK CONSTRAINT [FK_dbo.LocalDeDevolucao_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[LocalDeDevolucao]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LocalDeDevolucao_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LocalDeDevolucao] CHECK CONSTRAINT [FK_dbo.LocalDeDevolucao_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[LocalDeEntrega]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LocalDeEntrega_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LocalDeEntrega] CHECK CONSTRAINT [FK_dbo.LocalDeEntrega_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[LocalDeEntrega]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LocalDeEntrega_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LocalDeEntrega] CHECK CONSTRAINT [FK_dbo.LocalDeEntrega_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[LocalDeEntrega]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LocalDeEntrega_dbo.UF_UfId] FOREIGN KEY([UfId])
REFERENCES [dbo].[UF] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocalDeEntrega] CHECK CONSTRAINT [FK_dbo.LocalDeEntrega_dbo.UF_UfId]
GO
ALTER TABLE [dbo].[Mercadoria]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Mercadoria_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Mercadoria] CHECK CONSTRAINT [FK_dbo.Mercadoria_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Mercadoria]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Mercadoria_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Mercadoria] CHECK CONSTRAINT [FK_dbo.Mercadoria_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[Motorista]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Motorista_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Motorista] CHECK CONSTRAINT [FK_dbo.Motorista_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Motorista]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Motorista_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Motorista] CHECK CONSTRAINT [FK_dbo.Motorista_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[Navio]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Navio_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Navio] CHECK CONSTRAINT [FK_dbo.Navio_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Navio]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Navio_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Navio] CHECK CONSTRAINT [FK_dbo.Navio_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[Parceiro]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Parceiro_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Parceiro] CHECK CONSTRAINT [FK_dbo.Parceiro_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Parceiro]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Parceiro_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Parceiro] CHECK CONSTRAINT [FK_dbo.Parceiro_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[PortoSeco]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PortoSeco_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PortoSeco] CHECK CONSTRAINT [FK_dbo.PortoSeco_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[PortoSeco]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PortoSeco_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PortoSeco] CHECK CONSTRAINT [FK_dbo.PortoSeco_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[PortoSeco]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PortoSeco_dbo.UF_UfId] FOREIGN KEY([UfId])
REFERENCES [dbo].[UF] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PortoSeco] CHECK CONSTRAINT [FK_dbo.PortoSeco_dbo.UF_UfId]
GO
ALTER TABLE [dbo].[Veiculo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Veiculo_dbo.AspNetUsers_CriadoPorUserId] FOREIGN KEY([CriadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Veiculo] CHECK CONSTRAINT [FK_dbo.Veiculo_dbo.AspNetUsers_CriadoPorUserId]
GO
ALTER TABLE [dbo].[Veiculo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Veiculo_dbo.AspNetUsers_ModificadoPorUserId] FOREIGN KEY([ModificadoPorUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Veiculo] CHECK CONSTRAINT [FK_dbo.Veiculo_dbo.AspNetUsers_ModificadoPorUserId]
GO
ALTER TABLE [dbo].[Veiculo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Veiculoes_dbo.TipoVeiculoes_TipoVeiculoId] FOREIGN KEY([TipoVeiculoId])
REFERENCES [dbo].[TipoVeiculo] ([id])
GO
ALTER TABLE [dbo].[Veiculo] CHECK CONSTRAINT [FK_dbo.Veiculoes_dbo.TipoVeiculoes_TipoVeiculoId]
GO
USE [master]
GO
